
#main_content{
	width:1060px;
	margin:0 auto;
	border:2px solid #dbdbdb;
	background-color: #fff;
	height: 950px;
}
body{
	background-color: #f9f9f9;
	font-family: 'Arial', sans-serif;
	margin:0;
	padding: 0;
}

#text{
	margin-left: 358px;
	margin-right: 73px;
}

.clear{
	clear:both;
}
#logo {
	margin-top:90px;
	margin-left:46px;
	margin-bottom: 40px;
}

/* ------------------- TOP MENU ----------------------------*/

#top_menu{
	width:966px;
	height:40px;
	background-color: #545454;
	margin: 0 auto 40px;
}

.top_menu_item{
	float:left;

	color:#fff;
	line-height: 40px;
	font-size:14px;
	cursor:pointer;
}

.top_menu_item:nth-child(1){
	margin-left:24px;
}

.top_menu_item:nth-child(2){
	margin-left:85px;
	background-color: #3c3c3c;
	padding:0 22px;
}

.top_menu_item:nth-child(3){
	margin-left:87px;
}

.top_menu_item:nth-child(4){
	margin-left: 87px;
}

/* ----------------------------------------------------------------- */


/* ------------------------- BOTTOM MENU --------------------------- */
.bottom_menu{
	width: 966px;
	height: 40px;
	background-color: #e1e1e1;
	margin: 50px auto;
}

.bottom_menu_item{
	float:left;
	line-height: 40px;
	font-size:14px;
}

.bottom_menu_item:nth-child(1){
	margin-left:24px;
}

.bottom_menu_item:nth-child(2){
	margin-left:85px;
	text-decoration: underline;
}

.bottom_menu_item:nth-child(3){
	margin-left:87px;
}

.bottom_menu_item:nth-child(4){
	margin-left: 87px;
}

/* ----------------------------------------------------------------- */


.copyright{
	text-align: right;
	line-height: 40px;
	margin-right: 24px;
}

#left_menu{
	margin-left:46px;
	float:left;
	width:240px;
}

#content_img{
	float:left;
	margin-left:48px;
	height: 400px;
	width:678px;
	text-align: center;
	margin-bottom: 40px;

}
#content_img_{
	margin:auto;
}
.left_menu_item{
	
	height: 40px;
	border: 1px solid #ccc;
	font-size: 12px;
	line-height: 40px;
	padding-left: 24px;
}

.left_menu_item:nth-child(3){
	background-color: #f9f9f9;
	padding-left: 36px;

}